body {
  margin: 0;
  padding: 20px;
  background-color: #08dbea86;
  font-family: Arial, sans-serif;
}

.box {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: auto;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: auto;


}

h3 {
  margin-bottom: 15px;
 
}

.textbox {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

.add {
  padding: 8px 12px;
  background-color: #007bffa4;
  color: white;
  border: none;
  border-radius: 20px;
  width: 30%;
  margin-left: 20px;
}

ol {
  margin-top: 15px;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
  padding: 6px;
  background-color: #e9e9e9;
 overflow-wrap: break-word;
}

.buttons {
    font-size: 1.3rem;
  margin-left: 8px;
  padding: 4px 6px;
  background-color: #00000064;
  color: white;
  border: none;
  
}

button:hover{
    background-color:rgb(255, 0, 0);
}

.textbox:hover{
    background-color:antiquewhite
}

li:hover{
    background-color: #4fd96b48;
}


